<!-- box start -->
<p>
    <div class="card hoverable">
        <div class="row no-gutters">
          <div class="col-sm-4 col-md-3">
               {% if project.img %}
        {% responsive_image_block %}
          path: {{ project.img }}
          alt: "project thumbnail"
        {% endresponsive_image_block %}
      {% endif %}
            </div> 
            <div class="team col-sm-8 col-md-9">
                <div class="card-body">
                     <a href="{{ project.url | relative_url }}">
                    <h5 class="card-title">{{ project.title }}</h5>
                    
                   
                    </a>
                    
                      
                    
                    
                    <p class="card-text">
                        {{ project.bio }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</p>
<!-- box end -->
