---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
   
  </header>

	<article>
		<div class="profile float-right">
			 {% if page.img %}
        {% responsive_image_block %}
          path: {{ page.img }}
          alt: "project thumbnail"
        {% endresponsive_image_block %}
      {% endif %}
			
			<div class="address">
				<p>
					
						  					  			  
					  
						    {% if page.arXiv %}
							<br><a href="{{ page.arXiv[0] }}"><i class="ai ai-arxiv"></i> {{ page.arXiv[1] }}</a>
							{% endif %}
							
							{% if page.github %}
							<br><a href="{{ page.github[0] }}"><i class="fab fa-github"></i> {{ page.github[1] }}</a>
							{% endif %}
							
							{% if page.gitlab %}
							<br><a href="{{ page.gitlab[0] }}"><i class="fab fa-gitlab"></i> {{ page.gitlab[1] }}</a>
							{% endif %}
							
							{% if page.google_scholar %}
							<br><a href="{{ page.google_scholar[0] }}"><i class="ai ai-google-scholar"></i> {{ page.google_scholar[1] }}</a>
							{% endif %}
							
							{% if page.instagram %}
							<br><a href="{{ page.instagram[0] }}"><i class="fas fa-envelope"></i> {{ page.instagram[1] }}</a>
							{% endif %}
							
							{% if page.linkedin %}
							<br><a href="{{ page.linkedin[0] }}"><i class="fab fa-linkedin"></i> {{ page.linkedin[1] }}</a>
							{% endif %}
						
							{% if page.orcid %}
							<br><a href="{{ page.orcid[0] }}"><i class="ai ai-orcid"></i> {{ page.orcid[1] }}</a>
							{% endif %}
							
							{% if page.researchgate %}
							<br><a href="{{ page.researchgate[0] }}"><i class="ai ai-researchgate"></i> {{ page.researchgate[1] }}</a>
							{% endif %}
							
							{% if page.x %}
							<br><a href="{{ page.x[0] }}"><i class="fab fa-twitter"></i> {{ page.x[1] }}</a>
							{% endif %}
							
							{% if page.scopus %}
							<br><a href="{{ page.scopus[0] }}"><i class="fab fa-twitter"></i> {{ page.scopus[1] }}</a>
							{% endif %}
				</p>
				
        </div>
      
    </div>
    {{ content }}
    
    {% if page.author %}
      {% include papers.html %}
    {% endif %}
  </article>

</div>
