---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

	<article>
		<div class="profile float-right">
			 {% if page.img %}
        {% responsive_image_block %}
          path: {{ page.img }}
          alt: "project thumbnail"
        {% endresponsive_image_block %}
      {% endif %}
			
			<div class="address">
				<p>
					<span class="name">{{ page.title }}</span>
						  					  			  
					  
						    {% if page.arXiv %}
							<br><a href="#"><i class="fas fa-envelope"></i> {{ page.arXiv }}</a>
							{% endif %}
							
							{% if page.github %}
							<br><a href="#"><i class="fas fa-envelope"></i> {{ page.github }}</a>
							{% endif %}
							
							{% if page.gitlab %}
							<br><a href="#"><i class="fas fa-envelope"></i> {{ page.gitlab }}</a>
							{% endif %}
							
							{% if page.google_scholar%}
							<br><a href="#"><i class="ai ai-google-scholar"></i> {{ google_scholar }}</a>
							{% endif %}
							
							{% if page.instagram %}
							<br><a href="#"><i class="fas fa-envelope"></i> {{ page.instagram }}</a>
							{% endif %}
							
							{% if page.linkedin %}
							<br><a href="#"><i class="fab fa-linkedin"></i> {{ page.linkedin }}</a>
							{% endif %}
						
							{% if page.orcid %}
							<br><a href="{{ page.x }}"><i class="ai ai-orcid"></i> {{ page.orcid }}</a>
							{% endif %}
							
							{% if page.researchgate %}
							<br><a href="{{ page.x }}"><i class="ai ai-researchgate"></i> {{ page.researchgate }}</a>
							{% endif %}
							
							{% if page.x %}
							<br><a href="{{ page.x }}"><i class="fab fa-twitter"></i> {{ page.x}}</a>
							{% endif %}
				</p>
				
        </div>
      
    </div>
    {{ content }}
    
    {% if page.author %}
      {% include papers.html %}
    {% endif %}
  </article>

</div>
